In [1]:
import pandas as pd

In [2]:

df = pd.read_excel('get_around_delay_analysis.xlsx')

In [3]:
df

,rental_id,car_id,checkin_type,state,delay_at_checkout_in_minutes,previous_ended_rental_id,time_delta_with_previous_rental_in_minutes
0,505000,363965,mobile,canceled,NaN,NaN,NaN
1,507750,269550,mobile,ended,-81.0,NaN,NaN
2,508131,359049,connect,ended,70.0,NaN,NaN
3,508865,299063,connect,canceled,NaN,NaN,NaN
4,511440,313932,mobile,ended,NaN,NaN,NaN
...,...,...,...,...,...,...,...
21305,573446,380069,mobile,ended,NaN,573429.0,300.0
21306,573790,341965,mobile,ended,-337.0,NaN,NaN
21307,573791,364890,mobile,ended,144.0,NaN,NaN
21308,574852,362531,connect,ended,-76.0,NaN,NaN
21309,575056,351549,connect,ended,35.0,NaN,NaN

In [4]:
display(100*df.isnull().sum()/df.shape[0])

rental_id                                      0.000000
car_id                                         0.000000
checkin_type                                   0.000000
state                                          0.000000
delay_at_checkout_in_minutes                  23.294228
previous_ended_rental_id                      91.360863
time_delta_with_previous_rental_in_minutes    91.360863
dtype: float64

In [5]:
df.drop(columns=["previous_ended_rental_id","time_delta_with_previous_rental_in_minutes"], inplace=True)

In [16]:
df["checkin_type"].value_counts(normalize=True).round(3)

mobile     0.792
connect    0.208
Name: checkin_type, dtype: float64

In [7]:
df.dropna(inplace=True)

In [15]:
df.groupby("rental_id")["delay_at_checkout_in_minutes"].sum()

rental_id
504806   -191.0
504970    263.0
504973     -1.0
505091   -155.0
505107    -35.0
          ...
575997    134.0
576117     49.0
576132     81.0
576292      9.0
576401     17.0
Name: delay_at_checkout_in_minutes, Length: 16346, dtype: float64

In [ ]:
connect = df[df["checkin_type"] == "connect"]
connect_ratio_state = connect["state"].value_counts(normalize=True).round(3)