In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('get_around_pricing_project.csv')
df_2 =pd.read_excel('get_around_delay_analysis.xlsx')
dfa = pd.read_csv("")

In [3]:
df

,Unnamed: 0,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
0,0,Citroën,140411,100,diesel,black,convertible,True,True,False,False,True,True,True,106
1,1,Citroën,13929,317,petrol,grey,convertible,True,True,False,False,False,True,True,264
2,2,Citroën,183297,120,diesel,white,convertible,False,False,False,False,True,False,True,101
3,3,Citroën,128035,135,diesel,red,convertible,True,True,False,False,True,True,True,158
4,4,Citroën,97097,160,diesel,silver,convertible,True,True,False,False,False,True,True,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,4838,Toyota,39743,110,diesel,black,van,False,True,False,False,False,False,True,121
4839,4839,Toyota,49832,100,diesel,grey,van,False,True,False,False,False,False,True,132
4840,4840,Toyota,19633,110,diesel,grey,van,False,True,False,False,False,False,True,130
4841,4841,Toyota,27920,110,diesel,brown,van,True,True,False,False,False,False,True,151
4842,4842,Audi,195840,160,diesel,grey,van,True,True,False,False,True,False,True,124

In [ ]:
display(100*df.isnull().sum()/df.shape[0])

In [11]:
df_2.drop(columns=["previous_ended_rental_id","time_delta_with_previous_rental_in_minutes"], inplace=True)

In [12]:
df_2

       rental_id  car_id checkin_type     state  delay_at_checkout_in_minutes
0         505000  363965       mobile  canceled                           NaN
1         507750  269550       mobile     ended                         -81.0
2         508131  359049      connect     ended                          70.0
3         508865  299063      connect  canceled                           NaN
4         511440  313932       mobile     ended                           NaN
...          ...     ...          ...       ...                           ...
21305     573446  380069       mobile     ended                           NaN
21306     573790  341965       mobile     ended                        -337.0
21307     573791  364890       mobile     ended                         144.0
21308     574852  362531      connect     ended                         -76.0
21309     575056  351549      connect     ended                          35.0

[21310 rows x 5 columns]

In [16]:
df_2.dropna()

       rental_id  car_id checkin_type  state  delay_at_checkout_in_minutes
1         507750  269550       mobile  ended                         -81.0
2         508131  359049      connect  ended                          70.0
5         511626  398802       mobile  ended                        -203.0
6         511639  370585      connect  ended                         -15.0
7         512303  371242       mobile  ended                         -44.0
...          ...     ...          ...    ...                           ...
21304     573322  376491      connect  ended                         -66.0
21306     573790  341965       mobile  ended                        -337.0
21307     573791  364890       mobile  ended                         144.0
21308     574852  362531      connect  ended                         -76.0
21309     575056  351549      connect  ended                          35.0

[16346 rows x 5 columns]

In [17]:
df_2.groupby("checkin_type")["delay_at_checkout_in_minutes"].mean()

checkin_type
connect   -43.627278
mobile     86.858854
Name: delay_at_checkout_in_minutes, dtype: float64